@model RutasCheck.Models.Usuario

@{
    ViewData["Title"] = "Delete";
        ViewData["header-title-page"] = "Usuarios";
    ViewData["header-sub-title-page"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-inner mt--5">
        <div class="card">

            <div class="card-body">
                <div>
                    <h3>¿Estás seguro que deseas eliminar?</h3>

                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nombre)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Activo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Activo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdRutaNavigation)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdRutaNavigation.IdRuta)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdUsuario" />
                        <a class="btn btn-sm btn-primary" asp-action="Index">Cancelar</a>
                        <input type="submit" value="Borrar" class="btn btn-sm btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>