@model IEnumerable<RutasCheck.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    ViewData["header-title-page"] = "Usuarios";
    ViewData["header-sub-title-page"] = "Listado de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-inner mt--5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-sm btn-success" asp-action="Create">Agregar</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Activo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IdRutaNavigation)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Activo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IdRutaNavigation.Nombre)
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a>
                                                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.IdUsuario">Detalles</a>
                                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.IdUsuario">Borrar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>