@model IEnumerable<RutasCheck.Models.Parada>

@{
    ViewData["Title"] = "Index";
    ViewData["header-title-page"] = "Paradas";
    ViewData["header-sub-title-page"] = "Listado de Paradas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-inner mt--5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a asp-action="Create" class="btn btn-success btn-sm">Agregar</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>
                                        Parada
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdParada)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreParada)
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.IdParada">Edit</a> 
                                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.IdParada">Details</a> 
                                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.IdParada">Delete</a>
                                    </td>
                                </tr>
                        }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
